@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    /* background-color: #0f1108; */
    background-color: #f9dc5c;
    font-family: "Monofett", cursive;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Source Sans Pro", sans-serif; */
    /* font-family: "Rubik Moonrocks", cursive; */
}

h1 {
    font-family: "Oswald", sans-serif;
    /* font-family: "Rubik Moonrocks", cursive; */
}

h2 {
    font-family: "Press Start 2P", cursive;
}

h3 {
    font-family: "VT323", monospace;
}

p {
    /* font-family: "Source Sans Pro", sans-serif; */
    font-family: "Montserrat", sans-serif;
    /* font-family: "Rubik Moonrocks", cursive; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

th {
    background: #e8e9f3;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
}
